body{
    background:linear-gradient(to right,#161923,#858398)
    
    
    
}
.body{
   
    margin: auto;
    width:730px;
}
.post {
    display: flex;
    margin: auto;
    max-width: 700px;
    border-radius: 5px;
    background-color: white;
  }
  
  .post.loading {
    justify-content: center;
  }